body{
    background-color: #F4F7F6;
    margin: 0;
    padding:0;
}

a{
    color:black;
    text-decoration: none;
}

ul,li {
    list-style:none;}

.top-button { 
    position: fixed; 
    bottom: 1rem; 
    right: 1rem; 
    cursor: pointer; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* header */
.header{
    display:flex;
    justify-content:center;
    align-items: center;
    padding:5px;
    height:70px;
    width: 100%;
    position:fixed;
   /* -bottom: 1px solid #E6EAEA; */
    z-index: 9999;
    transition: background-color 300ms ease-in-out;
    font-family: 'Changa', sans-serif;
}

.header a{
    color:white;
}

.h-black{
    background-color: black;
}

.right-menu{
    width:10%;
}

.logo-menu{
    top: 15px;
    left: 50%;
    width: auto;

    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.left-menu{
    margin:30px;

    font-weight:600;
    font-size: 20px;    
    letter-spacing: 1px;
}

/* intro */
.intro-img{
    position: relative;
    background-image: url(./img/intro_background.jpg);
    height: 100vh;
    background-size: cover;
    
}

.intro-desc {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align:center;
    left: 50%;
    padding-top:14%;
    font-family: "Roboto", sans-serif;
}

.intro-desc h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.title-large {
    font-size: 58px;
    margin-bottom: 15px;
    margin-top:05px;
    letter-spacing: 1.2px;
    width: 430px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 30px;
}

.start-btn {
    padding: 15px 20px;
    background-color: #fff;
    color: black;
    transition: opacity 200ms ease-in-out;
    text-transform: uppercase;
    font-size: 14px;
    width: max-content;
}


/* content */
.container{
    display: flex;
    flex-direction:row;
    margin:0px 200px;
}

.content_left{
    width: 50%;
}

.content_right{
    width: 50%;
}


#left{
    margin:10px;
    margin-top:400px;
    height:500px;

    opacity: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 28px;
}

#left.stick {
    position:fixed;
    top:0;
    margin:300px 10px 10px 10px;
    opacity:100;
}

.item-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    font-weight: 300;
    font-size: 25px;
    opacity: 0;
}

.text-anim{
    opacity: 0;
    transition: all .5s ease;
}
.text-anim.show{
    opacity: 1;
    transform: none;  
}



.text1{
    opacity: 100;
}



.item{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    width:100%;
    height:1500px;
    font-weight: 500;
    font-size: 28px;
    /* border: #0f044d 1px solid; */
}

.item1{
    justify-content: center;
    height: 800px;
    margin-bottom: 700px;
}
#ITEM_PROFILE{
    width:100%;
    
}
.img_profile{
width: 60%;
}




#box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:100px;
  width: 300px;
  height: 400px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 5px;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}





.video1{
    background-color: teal;
}


.contact{
    width:100%;
    margin-top:95%;
    margin-bottom: 50px;
    font-size: 40px;
}

.slide{
    position: relative;
    
    margin:30px; 
    padding:0;
    
    width:300px;
    height:80px;
    overflow:hidden;
    
}

.back{
    position: absolute;
    padding-top:4%;
    color:white;

    width: 100%;
    height: 100%;
    background-color: rgb(78, 78, 78);
}

.slide_after{
    position: absolute;
    padding-top:8%;
    right: -300px;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    transition: 1s;
    z-index:999;

    font-size: 20px;
    letter-spacing:2px ;
}
.slide_after a{
    color:white;
}

.slide:hover .slide_after {
    transition: 1s;
    right: 0;
}



.video{
    margin-bottom:40px;
}
.card{
    padding:0;
    margin:0;
    width:60%;
    height: 270px;
    text-align: center; 
    position: relative; 
    perspective: 500px; 
    margin-bottom: 50px;
}
.card-front img{
  width: 100%;
  height: 100%;
}
.card .card-back{
    width: 75%;
    height: 70%;  
    padding: 5% 8%;
    position: absolute;
    content: "";
    line-height: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
    transform-origin: 50%;
    background: rgba(255,255,255,0.8);  
    opacity: 0;
    transition: all 0.4s ease-in;
}
.card:hover .card-back {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
  }

.img_3d{
    width:80%;
    padding:10px;
}

.content_num{
    width:300px;
    height:200px;
    padding-top:0px;
    padding-bottom: 100px;
    font-weight: 500;
    font-size: 200px;
    text-align: center;
    background-color: rgb(19, 19, 19);
    color:white
    
}

.content_da{
    font-weight: 500;
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    color: #0f044d;
}

