body{
    background-color: #F4F7F6;
    margin: 0;
    padding:0;
}
a{
    color:black;
    text-decoration: none;
}

.top-button { 
    position: fixed; 
    bottom: 1rem; 
    right: 1rem; 
    cursor: pointer; 
}


/* header */
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    height:70px;
    width: 100%;
    position:fixed;
   //border-bottom: 1px solid #E6EAEA;
    z-index: 9999;
    transition: background-color 300ms ease-in-out;
    font-family: 'Changa', sans-serif;
}

.header a{
    color:white;
}

.header.scrolled{
    background-color: black;
}

.right-menu{
    width:10%;
}

.logo-menu{
    top: 15px;
    left: 50%;
    width: auto;

    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.left-menu{
    margin:30px;

    font-weight:600;
    font-size: 20px;    
    letter-spacing: 1px;
}

/* intro */
.intro-img{
    position: relative;
    background-image: url(./intro_background.jpg);
    height: 100vh;
    background-size: cover;
    margin-bottom:300px;
}

.intro-desc {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    text-align:center;
    left: 50%;
    padding-top:14%;
    font-family: "Roboto", sans-serif;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.title-large {
    font-size: 58px;
    margin-bottom: 15px;
    margin-top:05px;
    letter-spacing: 1.2px;
    width: 430px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 30px;
}

.start-btn {
    padding: 15px 20px;
    background-color: #fff;
    color: black;
    transition: opacity 200ms ease-in-out;
    text-transform: uppercase;
    font-size: 14px;
    width: max-content;
}




/* content */
.container{
    display: flex;
    flex-direction: column;
    margin: 40px 150px;
}
.content{
    display:flex;
    flex-direction: column;
    
}
.item{
    display:flex;
    align-items: center;
    flex-direction: row;
    width:100%;
    height:550px;
    margin-bottom:400px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.content_left{
    opacity: 0;
    width:50%;
    float:left;
    padding-left:100px;

}

.content_right{
    margin-right:-500px;
    max-width:100%;
    width:50%;
    float:right;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items:  center;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items:  center;
    
    height: 200px;
    margin-bottom:300px;
    font-size: 20px;
}

.contact{
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 5px;
}

.contact.name{
    font-family: 'Changa', sans-serif;
    font-size: 40px;
}




.img_profile{
    width:60%;
}
.img_3d{
    width:80%;
    padding:10px;
}

.content_num{
    font-weight: 500;
    font-size: 200px;
    text-align: center;
    color: #660F17;
}

.content_da{
    font-weight: 500;
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    color: #0f044d;
}


/* work.css */

.header_work{
    display:flex;
    justify-content: center;
    align-items:  center;
}

.sub-name{
    color:red;
}

.item_work{
    display:flex;
    align-items: center;
    flex-direction: row;
    width:100%;
    height:550px;
    margin-bottom:400px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 28px;
    
}

.item_work2{
    background-color: blue;

}

